{
  "openapi": "3.1.0",
  "info": {
    "title": "mixetape API",
    "version": "1.0.0",
    "summary": "Schedule and manage posts on connected social accounts.",
    "description": "The REST API for scripts and integrations: accounts, posts, comments, library groups and files as resources. Every request carries an API key; each endpoint needs one of its permissions. Errors answer { error: { code, message, field? } }; writes that must not happen twice take an Idempotency-Key header; each user may make 120 requests a minute. AI agents use the MCP server at /mcp instead, with the same actions as tools."
  },
  "servers": [
    {
      "url": "https://mixetape.com"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Connected channels, their collections and analytics."
    },
    {
      "name": "Connections",
      "description": "Connecting an account: a sign-in link for the person who owns it."
    },
    {
      "name": "Brands",
      "description": "Groups of accounts, to publish to all of them at once."
    },
    {
      "name": "Posts",
      "description": "Scheduling posts, and managing them once they are on the platform."
    },
    {
      "name": "Comments",
      "description": "Reading, posting, replying to and moderating comments."
    },
    {
      "name": "Groups",
      "description": "Library groups: files that go out together, with their drafted words."
    },
    {
      "name": "Files",
      "description": "mixetape storage: uploads, imports and the files' index; files published without a group."
    },
    {
      "name": "Webhooks",
      "description": "Endpoints told when posts go up, go live, fail or are cancelled, and when a channel needs reconnecting; signed per Standard Webhooks."
    }
  ],
  "paths": {
    "/api/v1/accounts": {
      "get": {
        "operationId": "listAccounts",
        "summary": "List connected accounts",
        "description": "The connected channels, with their status and what each platform takes in one post. An account with status reconnect must be connected again before posting to it.\n\nNeeds the **read** permission.",
        "tags": [
          "Accounts"
        ],
        "x-permission": "read",
        "x-platforms": [
          "youtube",
          "facebook",
          "instagram",
          "threads",
          "tiktok",
          "pinterest"
        ],
        "responses": {
          "200": {
            "description": "The accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "mixetape account id"
                          },
                          "provider": {
                            "type": "string",
                            "enum": [
                              "youtube",
                              "facebook",
                              "instagram",
                              "threads",
                              "tiktok",
                              "pinterest"
                            ]
                          },
                          "platformAccountId": {
                            "type": "string",
                            "description": "The platform's own id"
                          },
                          "name": {
                            "type": "string"
                          },
                          "handle": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "reconnect"
                            ],
                            "description": "reconnect: connect the channel again before posting to it"
                          },
                          "capabilities": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "status",
                                "thumbnails",
                                "editing",
                                "collections",
                                "captions",
                                "comments",
                                "analytics"
                              ]
                            },
                            "description": "What its platform supports beyond posting"
                          },
                          "formats": {
                            "type": "object",
                            "description": "What one post can hold there: video, image, a carousel (min–max files and kinds), image types, video length, upright"
                          }
                        },
                        "required": [
                          "id",
                          "provider",
                          "platformAccountId",
                          "name",
                          "status",
                          "capabilities",
                          "formats"
                        ]
                      }
                    }
                  },
                  "required": [
                    "accounts"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/v1/accounts/{id}": {
      "delete": {
        "operationId": "disconnectAccount",
        "summary": "Disconnect an account",
        "description": "Removes the channel from mixetape, with its posts and their history; nothing changes on the platform. An account with posts still waiting to go out is refused (409) until they are cancelled.\n\nNeeds the **channels** permission.",
        "tags": [
          "Accounts"
        ],
        "x-permission": "channels",
        "x-platforms": [
          "youtube",
          "facebook",
          "instagram",
          "threads",
          "tiktok",
          "pinterest"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The account's id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disconnected.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "const": true
                    },
                    "id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "deleted",
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/api/v1/accounts/{id}/collections": {
      "get": {
        "operationId": "listCollections",
        "summary": "List an account's collections",
        "description": "Playlists on YouTube, boards on Pinterest — with id, title, visibility and item count. A collection id goes in a post's metadata (playlistIds, boardId).\n\nNeeds the **read** permission.",
        "tags": [
          "Accounts"
        ],
        "x-permission": "read",
        "x-platforms": [
          "youtube",
          "pinterest"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The account's id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The collections.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collections": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "visibility": {
                            "type": "string"
                          },
                          "itemCount": {
                            "type": "integer"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "title"
                        ]
                      }
                    }
                  },
                  "required": [
                    "collections"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      },
      "post": {
        "operationId": "createCollection",
        "summary": "Create a collection",
        "description": "Create a YouTube playlist or a Pinterest board on the account.\n\nNeeds the **manage** permission.",
        "tags": [
          "Accounts"
        ],
        "x-permission": "manage",
        "x-platforms": [
          "youtube",
          "pinterest"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The account's id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "public",
                      "unlisted",
                      "private"
                    ]
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new collection.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collection": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "visibility": {
                          "type": "string"
                        },
                        "itemCount": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "title"
                      ]
                    }
                  },
                  "required": [
                    "collection"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/api/v1/accounts/{id}/analytics": {
      "get": {
        "operationId": "getAccountAnalytics",
        "summary": "Get an account's analytics",
        "description": "Totals, day by day where the platform reports them, the top 10 posts and traffic sources. Defaults to the last 28 days; the last few days are incomplete (dataDelayDays).\n\nNeeds the **analytics** permission.",
        "tags": [
          "Accounts"
        ],
        "x-permission": "analytics",
        "x-platforms": [
          "youtube",
          "threads",
          "tiktok",
          "pinterest"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The account's id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "First day",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "First day"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Last day",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Last day"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The account's analytics.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "provider": {
                          "type": "string"
                        }
                      }
                    },
                    "dataDelayDays": {
                      "type": "integer",
                      "description": "The last this many days are still incomplete on the platform"
                    },
                    "range": {
                      "type": "object",
                      "properties": {
                        "from": {
                          "type": "string",
                          "format": "date"
                        },
                        "to": {
                          "type": "string",
                          "format": "date"
                        }
                      },
                      "required": [
                        "from",
                        "to"
                      ]
                    },
                    "totals": {
                      "type": "object",
                      "properties": {
                        "views": {
                          "type": "integer"
                        },
                        "watchTimeMinutes": {
                          "type": "number"
                        },
                        "averageViewDurationSeconds": {
                          "type": "number"
                        },
                        "averageViewPercentage": {
                          "type": "number"
                        },
                        "likes": {
                          "type": "integer"
                        },
                        "comments": {
                          "type": "integer"
                        },
                        "shares": {
                          "type": "integer"
                        },
                        "subscribersGained": {
                          "type": "integer"
                        },
                        "subscribersLost": {
                          "type": "integer"
                        }
                      }
                    },
                    "daily": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date"
                          },
                          "views": {
                            "type": "integer"
                          },
                          "watchTimeMinutes": {
                            "type": "number"
                          },
                          "averageViewDurationSeconds": {
                            "type": "number"
                          },
                          "averageViewPercentage": {
                            "type": "number"
                          },
                          "likes": {
                            "type": "integer"
                          },
                          "comments": {
                            "type": "integer"
                          },
                          "shares": {
                            "type": "integer"
                          },
                          "subscribersGained": {
                            "type": "integer"
                          },
                          "subscribersLost": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "topPosts": {
                      "type": "array",
                      "description": "With the mixetape post id when it was published through mixetape",
                      "items": {
                        "type": "object",
                        "properties": {
                          "platformPostId": {
                            "type": "string"
                          },
                          "postId": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "views": {
                            "type": "integer"
                          },
                          "watchTimeMinutes": {
                            "type": "number"
                          },
                          "averageViewDurationSeconds": {
                            "type": "number"
                          },
                          "averageViewPercentage": {
                            "type": "number"
                          },
                          "likes": {
                            "type": "integer"
                          },
                          "comments": {
                            "type": "integer"
                          },
                          "shares": {
                            "type": "integer"
                          },
                          "subscribersGained": {
                            "type": "integer"
                          },
                          "subscribersLost": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "trafficSources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "source": {
                            "type": "string"
                          },
                          "views": {
                            "type": "integer"
                          },
                          "watchTimeMinutes": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "account",
                    "dataDelayDays",
                    "range",
                    "totals",
                    "daily",
                    "topPosts"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/api/v1/connections": {
      "post": {
        "operationId": "startConnection",
        "summary": "Start connecting an account",
        "description": "Returns the platform's sign-in page for the person who owns the account. Nothing is connected until they sign in and allow access; follow the attempt with its state. The link works once, for 10 minutes.\n\nNeeds the **channels** permission.",
        "tags": [
          "Connections"
        ],
        "x-permission": "channels",
        "x-platforms": [
          "youtube",
          "facebook",
          "instagram",
          "threads",
          "tiktok",
          "pinterest"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platform": {
                    "type": "string",
                    "enum": [
                      "youtube",
                      "facebook",
                      "instagram",
                      "threads",
                      "tiktok",
                      "pinterest"
                    ]
                  }
                },
                "required": [
                  "platform"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The sign-in link and the state that follows it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The platform's sign-in page; works once, for 10 minutes"
                    },
                    "state": {
                      "type": "string",
                      "description": "Follows the attempt"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "url",
                    "state",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/api/v1/connections/{state}": {
      "get": {
        "operationId": "getConnection",
        "summary": "Follow a connection",
        "description": "Where the attempt stands: pending until the person finishes; done with the accounts connected; choose when the sign-in reached several new accounts (e.g. Facebook Pages) to pick from; error with why.\n\nNeeds the **channels** permission.",
        "tags": [
          "Connections"
        ],
        "x-permission": "channels",
        "x-platforms": [
          "youtube",
          "facebook",
          "instagram",
          "threads",
          "tiktok",
          "pinterest"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "description": "The state the connection started with",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The attempt.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "done",
                        "choose",
                        "error"
                      ],
                      "description": "pending: not finished yet; done: channels were connected; choose: the sign-in reached several new channels, pick some; error: see error"
                    },
                    "channels": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "done: the channels connected"
                    },
                    "refreshed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "choose: channels already connected that got new access"
                    },
                    "choices": {
                      "type": "array",
                      "description": "choose: the new channels to pick from",
                      "items": {
                        "type": "object",
                        "properties": {
                          "platformAccountId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "handle": {
                            "type": "string"
                          },
                          "avatar": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "platformAccountId",
                          "name"
                        ]
                      }
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/v1/connections/{state}/accounts": {
      "post": {
        "operationId": "chooseAccounts",
        "summary": "Choose the accounts to add",
        "description": "After a connection answered choose: add the picked accounts. The choice is held for 10 minutes after the sign-in; the ones left out are not connected.\n\nNeeds the **channels** permission.",
        "tags": [
          "Connections"
        ],
        "x-permission": "channels",
        "x-platforms": [
          "youtube",
          "facebook",
          "instagram",
          "threads",
          "tiktok",
          "pinterest"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "description": "The state the connection started with",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platformAccountIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "description": "platformAccountId of each chosen account, from the choices"
                  }
                },
                "required": [
                  "platformAccountIds"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The names of the accounts connected.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "channels": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "channels"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/v1/brands": {
      "get": {
        "operationId": "listBrands",
        "summary": "List brands",
        "description": "The user's groups of connected accounts, each with its accountIds.\n\nNeeds the **read** permission.",
        "tags": [
          "Brands"
        ],
        "x-permission": "read",
        "x-platforms": [
          "youtube",
          "facebook",
          "instagram",
          "threads",
          "tiktok",
          "pinterest"
        ],
        "responses": {
          "200": {
            "description": "The brands.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "brands": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "accountIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "accountIds"
                        ]
                      }
                    }
                  },
                  "required": [
                    "brands"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "operationId": "createBrand",
        "summary": "Create a brand",
        "description": "Group connected accounts as a brand, to publish to all of them at once.\n\nNeeds the **channels** permission.",
        "tags": [
          "Brands"
        ],
        "x-permission": "channels",
        "x-platforms": [
          "youtube",
          "facebook",
          "instagram",
          "threads",
          "tiktok",
          "pinterest"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "accountIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The brand's channels; on update this replaces the whole list"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new brand.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "brand": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "accountIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "accountIds"
                      ]
                    }
                  },
                  "required": [
                    "brand"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/v1/brands/{id}": {
      "patch": {
        "operationId": "updateBrand",
        "summary": "Change a brand",
        "description": "Rename it and/or replace its accounts (accountIds replaces the whole list).\n\nNeeds the **channels** permission.",
        "tags": [
          "Brands"
        ],
        "x-permission": "channels",
        "x-platforms": [
          "youtube",
          "facebook",
          "instagram",
          "threads",
          "tiktok",
          "pinterest"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The brand's id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "accountIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The brand's channels; on update this replaces the whole list"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The brand.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "brand": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "accountIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "accountIds"
                      ]
                    }
                  },
                  "required": [
                    "brand"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "operationId": "deleteBrand",
        "summary": "Delete a brand",
        "description": "Its accounts stay connected.\n\nNeeds the **channels** permission.",
        "tags": [
          "Brands"
        ],
        "x-permission": "channels",
        "x-platforms": [
          "youtube",
          "facebook",
          "instagram",
          "threads",
          "tiktok",
          "pinterest"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The brand's id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "const": true
                    },
                    "id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "deleted",
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/v1/posts": {
      "get": {
        "operationId": "listPosts",
        "summary": "List posts",
        "description": "Newest scheduled time first, a page at a time — narrowed by account, platform, status, time or words in the title, caption or description. Pass nextCursor back as cursor, with the same filters, for the next page.\n\nNeeds the **read** permission.",
        "tags": [
          "Posts"
        ],
        "x-permission": "read",
        "x-platforms": [
          "youtube",
          "facebook",
          "instagram",
          "threads",
          "tiktok",
          "pinterest"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Only posts on these accounts (comma-separated)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Only posts on these accounts"
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "provider",
            "in": "query",
            "description": "Only posts on these platforms, e.g. youtube, instagram (comma-separated)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Only posts on these platforms, e.g. youtube, instagram"
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "status",
            "in": "query",
            "description": "Only posts in these statuses (comma-separated)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "scheduled",
                  "publishing",
                  "uploaded",
                  "published",
                  "failed",
                  "cancelled"
                ]
              },
              "description": "Only posts in these statuses"
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "groupId",
            "in": "query",
            "description": "Only posts published from this library group",
            "schema": {
              "type": "string",
              "description": "Only posts published from this library group"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Words in the title, caption or description",
            "schema": {
              "type": "string",
              "description": "Words in the title, caption or description"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Scheduled at or after: ISO 8601 with a timezone offset",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Scheduled at or after: ISO 8601 with a timezone offset"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Scheduled at or before: ISO 8601 with a timezone offset",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Scheduled at or before: ISO 8601 with a timezone offset"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Changed at or after — status, error, time or words. Poll with the time of your last check to see what went out or failed since: ISO 8601 with a timezone offset",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Changed at or after — status, error, time or words. Poll with the time of your last check to see what went out or failed since: ISO 8601 with a timezone offset"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Posts per page, default 50",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "description": "Posts per page, default 50"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "nextCursor from the previous page",
            "schema": {
              "type": "string",
              "description": "nextCursor from the previous page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of posts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "accountId": {
                            "type": "string"
                          },
                          "provider": {
                            "type": "string"
                          },
                          "mediaUrl": {
                            "type": "string",
                            "description": "The first file"
                          },
                          "media": {
                            "type": "array",
                            "description": "Every file, in order",
                            "items": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                },
                                "kind": {
                                  "type": "string",
                                  "enum": [
                                    "video",
                                    "image"
                                  ]
                                }
                              },
                              "required": [
                                "url",
                                "kind"
                              ]
                            }
                          },
                          "groupId": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "The library group it came from"
                          },
                          "caption": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "metadata": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "description": "The platform's own fields"
                          },
                          "scheduledAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When it goes live"
                          },
                          "leadMinutes": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "description": "Sent this long before scheduledAt"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "scheduled",
                              "publishing",
                              "uploaded",
                              "published",
                              "failed",
                              "cancelled"
                            ],
                            "description": "scheduled: waiting in mixetape, still editable; publishing: on its way; uploaded: on the platform, live at scheduledAt; published: live; failed: see error"
                          },
                          "platformPostId": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "platformUrl": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "error": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Why it failed, when it did"
                          },
                          "attempts": {
                            "type": "integer"
                          },
                          "publishedAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "accountId",
                          "provider",
                          "mediaUrl",
                          "media",
                          "scheduledAt",
                          "status",
                          "attempts"
                        ]
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Pass as cursor for the next page"
                    }
                  },
                  "required": [
                    "posts",
                    "nextCursor"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "operationId": "createPost",
        "summary": "Schedule a post",
        "description": "The post waits in mixetape — editable and cancellable — until its lead before scheduledAt. YouTube and Facebook then take it unpublished and publish it themselves at scheduledAt; Instagram and Threads get it prepared and mixetape publishes it at scheduledAt; TikTok and Pinterest cannot hold a post, so mixetape posts it at scheduledAt. Each platform takes its own metadata (see Platforms); files in mixetape storage are checked against what the platform takes before the post is accepted.\n\nNeeds the **publish** permission.",
        "tags": [
          "Posts"
        ],
        "x-permission": "publish",
        "x-platforms": [
          "youtube",
          "facebook",
          "instagram",
          "threads",
          "tiktok",
          "pinterest"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Any unique text (e.g. a UUID) for this one request. Repeating the request with the same key — say after a timeout — answers with the first response (header Idempotent-Replayed: true) instead of doing it twice. Kept for 24 hours; the same key with a different request is refused (422).",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "mediaUrl": {
                    "type": "string",
                    "description": "One file: a public https URL, or an r2:// URL from mixetape storage"
                  },
                  "media": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Several files in one post, in order (https or r2:// URLs) — a carousel or photo album. Use instead of mediaUrl."
                  },
                  "caption": {
                    "type": "string"
                  },
                  "scheduledAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When it goes live; left out, it goes live once the lead has passed: ISO 8601 with a timezone offset"
                  },
                  "leadMinutes": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "How long before scheduledAt mixetape uploads or prepares it, so the platform finishes processing first. Defaults: YouTube and Facebook 30, Instagram 15, Threads 10; TikTok and Pinterest always 0. Facebook takes 0 or at least 15."
                  },
                  "metadata": {
                    "anyOf": [
                      {
                        "type": "object",
                        "description": "YouTube fields. title is required when creating. Set a field to null to clear it when updating.",
                        "properties": {
                          "title": {
                            "type": "string",
                            "maxLength": 100,
                            "description": "No < or >"
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 5000,
                            "description": "No < or >"
                          },
                          "category": {
                            "type": "string",
                            "description": "Category id, e.g. \"27\" Education, \"22\" People & Blogs (the default)",
                            "x-options": [
                              {
                                "value": "1",
                                "label": "Film & Animation"
                              },
                              {
                                "value": "2",
                                "label": "Autos & Vehicles"
                              },
                              {
                                "value": "10",
                                "label": "Music"
                              },
                              {
                                "value": "15",
                                "label": "Pets & Animals"
                              },
                              {
                                "value": "17",
                                "label": "Sports"
                              },
                              {
                                "value": "19",
                                "label": "Travel & Events"
                              },
                              {
                                "value": "20",
                                "label": "Gaming"
                              },
                              {
                                "value": "22",
                                "label": "People & Blogs"
                              },
                              {
                                "value": "23",
                                "label": "Comedy"
                              },
                              {
                                "value": "24",
                                "label": "Entertainment"
                              },
                              {
                                "value": "25",
                                "label": "News & Politics"
                              },
                              {
                                "value": "26",
                                "label": "Howto & Style"
                              },
                              {
                                "value": "27",
                                "label": "Education"
                              },
                              {
                                "value": "28",
                                "label": "Science & Technology"
                              },
                              {
                                "value": "29",
                                "label": "Nonprofits & Activism"
                              }
                            ]
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "≤ 500 characters in total"
                          },
                          "privacyStatus": {
                            "type": "string",
                            "enum": [
                              "public",
                              "unlisted",
                              "private"
                            ]
                          },
                          "madeForKids": {
                            "type": "boolean"
                          },
                          "notifySubscribers": {
                            "type": "boolean"
                          },
                          "defaultLanguage": {
                            "type": "string",
                            "description": "Language of title/description, e.g. \"en\"; required for localizations"
                          },
                          "localizations": {
                            "type": "object",
                            "description": "Translations keyed by language: { \"id\": { \"title\": \"…\", \"description\": \"…\" } }",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "title"
                              ]
                            }
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Public https JPEG/PNG, ≤ 2 MB, 1280×720; set right after upload"
                          },
                          "playlistIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Playlists (the account's collections) the video joins right after upload"
                          },
                          "captions": {
                            "type": "array",
                            "description": "Subtitle files uploaded right after the video (400 quota units each)",
                            "items": {
                              "type": "object",
                              "properties": {
                                "language": {
                                  "type": "string",
                                  "description": "e.g. \"en\""
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Track name; empty is the default track"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "Public https SRT or WebVTT"
                                }
                              },
                              "required": [
                                "language",
                                "url"
                              ]
                            }
                          },
                          "firstComment": {
                            "type": "string",
                            "description": "Posted as the channel's own comment once the video is public — e.g. a link to the full video from a Short"
                          }
                        },
                        "title": "YouTube"
                      },
                      {
                        "type": "object",
                        "description": "Facebook Page fields. A video posts as a Page video, or with format \"reel\" as a Reel (9:16, 3–90 s); an image posts as a photo, several images (media) as an album of up to 10 — description is their text. Set a field to null to clear it when updating.",
                        "properties": {
                          "format": {
                            "type": "string",
                            "enum": [
                              "video",
                              "reel"
                            ]
                          },
                          "title": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "Page videos only"
                          },
                          "description": {
                            "type": "string",
                            "description": "The post text (defaults to caption)"
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Public https JPEG/PNG, set right after upload"
                          },
                          "captions": {
                            "type": "array",
                            "description": "Subtitle files (public https .srt) uploaded right after the video",
                            "items": {
                              "type": "object",
                              "properties": {
                                "language": {
                                  "type": "string",
                                  "description": "e.g. \"en\", \"id\" or \"en_US\""
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "language",
                                "url"
                              ]
                            }
                          },
                          "firstComment": {
                            "type": "string",
                            "description": "Posted as the Page's own comment once the post is public"
                          }
                        },
                        "title": "Facebook"
                      },
                      {
                        "type": "object",
                        "description": "Instagram fields. A video posts as a Reel (3 s–15 min, ≤ 300 MB, 9:16 recommended), a JPEG image as a photo, several files (media) as a carousel of 2–10. The cover fields and shareToFeed apply to Reels only. Set a field to null to clear it when updating.",
                        "properties": {
                          "caption": {
                            "type": "string",
                            "description": "≤ 2,200 characters, 30 hashtags, 20 @mentions; defaults to the post caption"
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Public https JPEG cover, set at creation"
                          },
                          "coverFrameMs": {
                            "type": "number",
                            "description": "Or the cover frame, ms from the start"
                          },
                          "shareToFeed": {
                            "type": "boolean",
                            "description": "Also show it in the feed grid (default true)"
                          },
                          "firstComment": {
                            "type": "string",
                            "description": "Posted as the account's own comment once the Reel is public"
                          }
                        },
                        "title": "Instagram"
                      },
                      {
                        "type": "object",
                        "description": "Threads post fields — for a video (MP4/MOV, ≤ 5 min), a JPEG/PNG image, or a carousel of 2–20 of either. Set a field to null to clear it when updating.",
                        "properties": {
                          "text": {
                            "type": "string",
                            "maxLength": 500,
                            "description": "Defaults to the post caption"
                          },
                          "firstComment": {
                            "type": "string",
                            "maxLength": 500,
                            "description": "Posted as the profile's own reply once the post is public"
                          }
                        },
                        "title": "Threads"
                      },
                      {
                        "type": "object",
                        "description": "TikTok fields. The video posts at the scheduled time (TikTok cannot hold a post). Until TikTok audits the app, only SELF_ONLY works.",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Caption, ≤ 2,200 characters; defaults to caption"
                          },
                          "privacyLevel": {
                            "type": "string",
                            "enum": [
                              "PUBLIC_TO_EVERYONE",
                              "MUTUAL_FOLLOW_FRIENDS",
                              "FOLLOWER_OF_CREATOR",
                              "SELF_ONLY"
                            ],
                            "description": "Default SELF_ONLY (required until the app is audited)"
                          },
                          "disableComment": {
                            "type": "boolean"
                          },
                          "disableDuet": {
                            "type": "boolean"
                          },
                          "disableStitch": {
                            "type": "boolean"
                          },
                          "coverFrameMs": {
                            "type": "number",
                            "description": "Cover frame, ms from the start"
                          },
                          "isAigc": {
                            "type": "boolean",
                            "description": "Label as AI-generated content"
                          }
                        },
                        "title": "TikTok"
                      },
                      {
                        "type": "object",
                        "description": "Pinterest Pin fields. Video (mp4/mov) or image media. The Pin posts at the scheduled time (Pinterest cannot hold a post).",
                        "properties": {
                          "boardId": {
                            "type": "string",
                            "description": "A board id from the account's collections (required)"
                          },
                          "title": {
                            "type": "string",
                            "maxLength": 100
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 800,
                            "description": "Defaults to the post caption"
                          },
                          "link": {
                            "type": "string",
                            "description": "Destination URL when the Pin is clicked"
                          },
                          "altText": {
                            "type": "string",
                            "maxLength": 500
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Video Pins: public https cover image"
                          },
                          "coverFrameSeconds": {
                            "type": "number",
                            "description": "Video Pins: cover frame, seconds (default 1)"
                          }
                        },
                        "title": "Pinterest"
                      }
                    ]
                  }
                },
                "required": [
                  "accountId"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The scheduled post.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "accountId": {
                          "type": "string"
                        },
                        "provider": {
                          "type": "string"
                        },
                        "mediaUrl": {
                          "type": "string",
                          "description": "The first file"
                        },
                        "media": {
                          "type": "array",
                          "description": "Every file, in order",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string"
                              },
                              "kind": {
                                "type": "string",
                                "enum": [
                                  "video",
                                  "image"
                                ]
                              }
                            },
                            "required": [
                              "url",
                              "kind"
                            ]
                          }
                        },
                        "groupId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The library group it came from"
                        },
                        "caption": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "metadata": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "description": "The platform's own fields"
                        },
                        "scheduledAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When it goes live"
                        },
                        "leadMinutes": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Sent this long before scheduledAt"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "scheduled",
                            "publishing",
                            "uploaded",
                            "published",
                            "failed",
                            "cancelled"
                          ],
                          "description": "scheduled: waiting in mixetape, still editable; publishing: on its way; uploaded: on the platform, live at scheduledAt; published: live; failed: see error"
                        },
                        "platformPostId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "platformUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "error": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Why it failed, when it did"
                        },
                        "attempts": {
                          "type": "integer"
                        },
                        "publishedAt": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "accountId",
                        "provider",
                        "mediaUrl",
                        "media",
                        "scheduledAt",
                        "status",
                        "attempts"
                      ]
                    }
                  },
                  "required": [
                    "post"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/IdempotencyKeyReused"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/v1/posts/{id}": {
      "get": {
        "operationId": "getPost",
        "summary": "Get a post",
        "description": "The post with its status, error, platform link and attempts.\n\nNeeds the **read** permission.",
        "tags": [
          "Posts"
        ],
        "x-permission": "read",
        "x-platforms": [
          "youtube",
          "facebook",
          "instagram",
          "threads",
          "tiktok",
          "pinterest"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The post's id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The post.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "accountId": {
                          "type": "string"
                        },
                        "provider": {
                          "type": "string"
                        },
                        "mediaUrl": {
                          "type": "string",
                          "description": "The first file"
                        },
                        "media": {
                          "type": "array",
                          "description": "Every file, in order",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string"
                              },
                              "kind": {
                                "type": "string",
                                "enum": [
                                  "video",
                                  "image"
                                ]
                              }
                            },
                            "required": [
                              "url",
                              "kind"
                            ]
                          }
                        },
                        "groupId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The library group it came from"
                        },
                        "caption": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "metadata": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "description": "The platform's own fields"
                        },
                        "scheduledAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When it goes live"
                        },
                        "leadMinutes": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Sent this long before scheduledAt"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "scheduled",
                            "publishing",
                            "uploaded",
                            "published",
                            "failed",
                            "cancelled"
                          ],
                          "description": "scheduled: waiting in mixetape, still editable; publishing: on its way; uploaded: on the platform, live at scheduledAt; published: live; failed: see error"
                        },
                        "platformPostId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "platformUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "error": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Why it failed, when it did"
                        },
                        "attempts": {
                          "type": "integer"
                        },
                        "publishedAt": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "accountId",
                        "provider",
                        "mediaUrl",
                        "media",
                        "scheduledAt",
                        "status",
                        "attempts"
                      ]
                    }
                  },
                  "required": [
                    "post"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "patch": {
        "operationId": "updatePost",
        "summary": "Change a scheduled post",
        "description": "Its time, lead, files, caption or metadata, while it still waits in mixetape (status scheduled). Metadata is merged; null clears a field. Once it is on the platform, change it there with PATCH /posts/{id}/platform.\n\nNeeds the **publish** permission.",
        "tags": [
          "Posts"
        ],
        "x-permission": "publish",
        "x-platforms": [
          "youtube",
          "facebook",
          "instagram",
          "threads",
          "tiktok",
          "pinterest"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The post's id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mediaUrl": {
                    "type": "string",
                    "description": "One file: a public https URL, or an r2:// URL from mixetape storage"
                  },
                  "media": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Several files in one post, in order (https or r2:// URLs) — a carousel or photo album. Use instead of mediaUrl."
                  },
                  "caption": {
                    "type": "string"
                  },
                  "scheduledAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When it goes live; left out, it goes live once the lead has passed: ISO 8601 with a timezone offset"
                  },
                  "leadMinutes": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "How long before scheduledAt mixetape uploads or prepares it, so the platform finishes processing first. Defaults: YouTube and Facebook 30, Instagram 15, Threads 10; TikTok and Pinterest always 0. Facebook takes 0 or at least 15."
                  },
                  "metadata": {
                    "anyOf": [
                      {
                        "type": "object",
                        "description": "YouTube fields. title is required when creating. Set a field to null to clear it when updating.",
                        "properties": {
                          "title": {
                            "type": "string",
                            "maxLength": 100,
                            "description": "No < or >"
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 5000,
                            "description": "No < or >"
                          },
                          "category": {
                            "type": "string",
                            "description": "Category id, e.g. \"27\" Education, \"22\" People & Blogs (the default)",
                            "x-options": [
                              {
                                "value": "1",
                                "label": "Film & Animation"
                              },
                              {
                                "value": "2",
                                "label": "Autos & Vehicles"
                              },
                              {
                                "value": "10",
                                "label": "Music"
                              },
                              {
                                "value": "15",
                                "label": "Pets & Animals"
                              },
                              {
                                "value": "17",
                                "label": "Sports"
                              },
                              {
                                "value": "19",
                                "label": "Travel & Events"
                              },
                              {
                                "value": "20",
                                "label": "Gaming"
                              },
                              {
                                "value": "22",
                                "label": "People & Blogs"
                              },
                              {
                                "value": "23",
                                "label": "Comedy"
                              },
                              {
                                "value": "24",
                                "label": "Entertainment"
                              },
                              {
                                "value": "25",
                                "label": "News & Politics"
                              },
                              {
                                "value": "26",
                                "label": "Howto & Style"
                              },
                              {
                                "value": "27",
                                "label": "Education"
                              },
                              {
                                "value": "28",
                                "label": "Science & Technology"
                              },
                              {
                                "value": "29",
                                "label": "Nonprofits & Activism"
                              }
                            ]
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "≤ 500 characters in total"
                          },
                          "privacyStatus": {
                            "type": "string",
                            "enum": [
                              "public",
                              "unlisted",
                              "private"
                            ]
                          },
                          "madeForKids": {
                            "type": "boolean"
                          },
                          "notifySubscribers": {
                            "type": "boolean"
                          },
                          "defaultLanguage": {
                            "type": "string",
                            "description": "Language of title/description, e.g. \"en\"; required for localizations"
                          },
                          "localizations": {
                            "type": "object",
                            "description": "Translations keyed by language: { \"id\": { \"title\": \"…\", \"description\": \"…\" } }",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "title"
                              ]
                            }
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Public https JPEG/PNG, ≤ 2 MB, 1280×720; set right after upload"
                          },
                          "playlistIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Playlists (the account's collections) the video joins right after upload"
                          },
                          "captions": {
                            "type": "array",
                            "description": "Subtitle files uploaded right after the video (400 quota units each)",
                            "items": {
                              "type": "object",
                              "properties": {
                                "language": {
                                  "type": "string",
                                  "description": "e.g. \"en\""
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Track name; empty is the default track"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "Public https SRT or WebVTT"
                                }
                              },
                              "required": [
                                "language",
                                "url"
                              ]
                            }
                          },
                          "firstComment": {
                            "type": "string",
                            "description": "Posted as the channel's own comment once the video is public — e.g. a link to the full video from a Short"
                          }
                        },
                        "title": "YouTube"
                      },
                      {
                        "type": "object",
                        "description": "Facebook Page fields. A video posts as a Page video, or with format \"reel\" as a Reel (9:16, 3–90 s); an image posts as a photo, several images (media) as an album of up to 10 — description is their text. Set a field to null to clear it when updating.",
                        "properties": {
                          "format": {
                            "type": "string",
                            "enum": [
                              "video",
                              "reel"
                            ]
                          },
                          "title": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "Page videos only"
                          },
                          "description": {
                            "type": "string",
                            "description": "The post text (defaults to caption)"
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Public https JPEG/PNG, set right after upload"
                          },
                          "captions": {
                            "type": "array",
                            "description": "Subtitle files (public https .srt) uploaded right after the video",
                            "items": {
                              "type": "object",
                              "properties": {
                                "language": {
                                  "type": "string",
                                  "description": "e.g. \"en\", \"id\" or \"en_US\""
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "language",
                                "url"
                              ]
                            }
                          },
                          "firstComment": {
                            "type": "string",
                            "description": "Posted as the Page's own comment once the post is public"
                          }
                        },
                        "title": "Facebook"
                      },
                      {
                        "type": "object",
                        "description": "Instagram fields. A video posts as a Reel (3 s–15 min, ≤ 300 MB, 9:16 recommended), a JPEG image as a photo, several files (media) as a carousel of 2–10. The cover fields and shareToFeed apply to Reels only. Set a field to null to clear it when updating.",
                        "properties": {
                          "caption": {
                            "type": "string",
                            "description": "≤ 2,200 characters, 30 hashtags, 20 @mentions; defaults to the post caption"
                          },
                          "thumbnailUrl": {
                            "type": "string",
[...]
