{
  "openapi": "3.1.0",
  "info": {
    "title": "mixetape API",
    "version": "1.0.0",
    "summary": "Schedule and manage posts on connected social channels.",
    "description": "Schedule and manage posts on connected social channels — the same actions agents use over MCP."
  },
  "servers": [
    {
      "url": "https://mixetape.com"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Accounts and posts",
      "description": "The plain REST resources; every tool below covers the rest."
    },
    {
      "name": "read",
      "description": "Tools under the **read** permission: see channels, posts, their status, playlists and captions."
    },
    {
      "name": "publish",
      "description": "Tools under the **publish** permission: schedule, change, cancel and retry posts, and set thumbnails."
    },
    {
      "name": "manage",
      "description": "Tools under the **manage** permission: edit videos already on the platform, manage playlists and upload captions."
    },
    {
      "name": "comments",
      "description": "Tools under the **comments** permission: read, post, reply to and moderate comments."
    },
    {
      "name": "analytics",
      "description": "Tools under the **analytics** permission: read post and channel analytics."
    },
    {
      "name": "storage",
      "description": "Tools under the **storage** permission: upload, import, list and delete files in mixetape's storage."
    },
    {
      "name": "channels",
      "description": "Tools under the **channels** permission: start connecting channels (you still approve each one on the platform)."
    }
  ],
  "paths": {
    "/api/v1/accounts": {
      "get": {
        "operationId": "listAccountsRest",
        "summary": "List connected channels",
        "description": "The channels this key can post to, with what each platform supports. Needs the **read** permission.",
        "tags": [
          "Accounts and posts"
        ],
        "responses": {
          "200": {
            "description": "The connected channels.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    }
                  },
                  "required": [
                    "accounts"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/posts": {
      "get": {
        "operationId": "listPostsRest",
        "summary": "List posts",
        "description": "Posts, newest scheduled first. Needs the **read** permission.",
        "tags": [
          "Accounts and posts"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Comma-separated statuses, e.g. `scheduled,failed`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "ISO time; scheduled at or after",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "ISO time; scheduled at or before",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Default 100, max 500",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The posts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Post"
                      }
                    }
                  },
                  "required": [
                    "posts"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "createPostRest",
        "summary": "Schedule a post",
        "description": "Schedule a video on a connected account (see list_accounts for each account's platform). The post waits in mixetape (editable, cancellable) until shortly before scheduledAt. YouTube and Facebook get it leadMinutes early, unpublished, and publish it themselves at scheduledAt; Instagram and Threads get it prepared leadMinutes early and mixetape publishes it at scheduledAt; TikTok and Pinterest cannot hold a post, so mixetape posts it at scheduledAt. Each platform takes its own metadata (Facebook format reel for a Reel, Pinterest boardId is required, TikTok privacyLevel). Thumbnail, playlists and captions are applied right after upload where the platform supports them; firstComment is posted once it is public. mediaUrl: a public https URL, or an r2:// URL from mixetape storage (create_upload / import_file). Needs the **publish** permission.",
        "tags": [
          "Accounts and posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountId": {
                    "type": "string",
                    "description": "mixetape account id (list_accounts)"
                  },
                  "mediaUrl": {
                    "type": "string"
                  },
                  "caption": {
                    "type": "string"
                  },
                  "scheduledAt": {
                    "type": "string",
                    "description": "ISO 8601 with timezone offset — when it goes live. Omit to post now (live after leadMinutes)."
                  },
                  "leadMinutes": {
                    "type": "number",
                    "description": "Minutes before go-live that mixetape uploads or prepares it, so the platform finishes processing first (defaults: YouTube and Facebook 30, Instagram 15, Threads 10; TikTok and Pinterest always 0). 0 uploads at go-live time. Facebook needs 0 or at least 15."
                  },
                  "metadata": {
                    "anyOf": [
                      {
                        "type": "object",
                        "description": "YouTube fields. title is required when creating. Set a field to null to clear it when updating.",
                        "properties": {
                          "title": {
                            "type": "string",
                            "maxLength": 100,
                            "description": "No < or >"
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 5000,
                            "description": "No < or >"
                          },
                          "category": {
                            "type": "string",
                            "description": "Category id, e.g. \"27\" Education, \"22\" People"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "≤ 500 characters in total"
                          },
                          "privacyStatus": {
                            "type": "string",
                            "enum": [
                              "public",
                              "unlisted",
                              "private"
                            ]
                          },
                          "madeForKids": {
                            "type": "boolean"
                          },
                          "notifySubscribers": {
                            "type": "boolean"
                          },
                          "defaultLanguage": {
                            "type": "string",
                            "description": "Language of title/description, e.g. \"en\"; required for localizations"
                          },
                          "localizations": {
                            "type": "object",
                            "description": "Translations keyed by language: { \"id\": { \"title\": \"…\", \"description\": \"…\" } }",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "title"
                              ]
                            }
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Public https JPEG/PNG, ≤ 2 MB, 1280×720; set right after upload"
                          },
                          "playlistIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Playlists (list_collections) the video joins right after upload"
                          },
                          "captions": {
                            "type": "array",
                            "description": "Subtitle files uploaded right after the video (400 quota units each)",
                            "items": {
                              "type": "object",
                              "properties": {
                                "language": {
                                  "type": "string",
                                  "description": "e.g. \"en\""
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Track name; empty is the default track"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "Public https SRT or WebVTT"
                                }
                              },
                              "required": [
                                "language",
                                "url"
                              ]
                            }
                          },
                          "firstComment": {
                            "type": "string",
                            "description": "Posted as the channel's own comment once the video is public — e.g. a link to the full video from a Short"
                          }
                        },
                        "title": "YouTube"
                      },
                      {
                        "type": "object",
                        "description": "Facebook Page fields. format \"video\" (default) posts a Page video; \"reel\" posts a Reel (9:16, 3–90 s). Set a field to null to clear it when updating.",
                        "properties": {
                          "format": {
                            "type": "string",
                            "enum": [
                              "video",
                              "reel"
                            ]
                          },
                          "title": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "Page videos only"
                          },
                          "description": {
                            "type": "string",
                            "description": "The post text (defaults to caption)"
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Public https JPEG/PNG, set right after upload"
                          },
                          "captions": {
                            "type": "array",
                            "description": "Subtitle files (public https .srt) uploaded right after the video",
                            "items": {
                              "type": "object",
                              "properties": {
                                "language": {
                                  "type": "string",
                                  "description": "e.g. \"en\", \"id\" or \"en_US\""
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "language",
                                "url"
                              ]
                            }
                          },
                          "firstComment": {
                            "type": "string",
                            "description": "Posted as the Page's own comment once the post is public"
                          }
                        },
                        "title": "Facebook"
                      },
                      {
                        "type": "object",
                        "description": "Instagram Reel fields (videos post as Reels: 3 s–15 min, ≤ 300 MB, 9:16 recommended). Set a field to null to clear it when updating.",
                        "properties": {
                          "caption": {
                            "type": "string",
                            "description": "≤ 2,200 characters, 30 hashtags, 20 @mentions; defaults to the post caption"
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Public https JPEG cover, set at creation"
                          },
                          "coverFrameMs": {
                            "type": "number",
                            "description": "Or the cover frame, ms from the start"
                          },
                          "shareToFeed": {
                            "type": "boolean",
                            "description": "Also show it in the feed grid (default true)"
                          },
                          "firstComment": {
                            "type": "string",
                            "description": "Posted as the account's own comment once the Reel is public"
                          }
                        },
                        "title": "Instagram"
                      },
                      {
                        "type": "object",
                        "description": "Threads video fields (MP4/MOV, ≤ 5 min, ≤ 1 GB). Set a field to null to clear it when updating.",
                        "properties": {
                          "text": {
                            "type": "string",
                            "maxLength": 500,
                            "description": "Defaults to the post caption"
                          },
                          "firstComment": {
                            "type": "string",
                            "maxLength": 500,
                            "description": "Posted as the profile's own reply once the post is public"
                          }
                        },
                        "title": "Threads"
                      },
                      {
                        "type": "object",
                        "description": "TikTok fields. The video posts at the scheduled time (TikTok cannot hold a post). Until TikTok audits the app, only SELF_ONLY works.",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Caption, ≤ 2,200 characters; defaults to caption"
                          },
                          "privacyLevel": {
                            "type": "string",
                            "enum": [
                              "PUBLIC_TO_EVERYONE",
                              "MUTUAL_FOLLOW_FRIENDS",
                              "FOLLOWER_OF_CREATOR",
                              "SELF_ONLY"
                            ],
                            "description": "Default SELF_ONLY (required until the app is audited)"
                          },
                          "disableComment": {
                            "type": "boolean"
                          },
                          "disableDuet": {
                            "type": "boolean"
                          },
                          "disableStitch": {
                            "type": "boolean"
                          },
                          "coverFrameMs": {
                            "type": "number",
                            "description": "Cover frame, ms from the start"
                          },
                          "isAigc": {
                            "type": "boolean",
                            "description": "Label as AI-generated content"
                          }
                        },
                        "title": "TikTok"
                      },
                      {
                        "type": "object",
                        "description": "Pinterest Pin fields. Video (mp4/mov) or image media. The Pin posts at the scheduled time (Pinterest cannot hold a post).",
                        "properties": {
                          "boardId": {
                            "type": "string",
                            "description": "Board id from list_collections (required)"
                          },
                          "title": {
                            "type": "string",
                            "maxLength": 100
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 800,
                            "description": "Defaults to the post caption"
                          },
                          "link": {
                            "type": "string",
                            "description": "Destination URL when the Pin is clicked"
                          },
                          "altText": {
                            "type": "string",
                            "maxLength": 500
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Video Pins: public https cover image"
                          },
                          "coverFrameSeconds": {
                            "type": "number",
                            "description": "Video Pins: cover frame, seconds (default 1)"
                          }
                        },
                        "title": "Pinterest"
                      }
                    ]
                  }
                },
                "required": [
                  "accountId",
                  "mediaUrl"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The scheduled post.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/Post"
                    }
                  },
                  "required": [
                    "post"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/posts/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "getPostRest",
        "summary": "Get a post",
        "description": "One post and its status. Add `?insights=1` for its live platform status and metrics instead. Needs the **read** permission.",
        "tags": [
          "Accounts and posts"
        ],
        "parameters": [
          {
            "name": "insights",
            "in": "query",
            "description": "Any value: answer with get_post_insights' result instead",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The post.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/Post"
                    }
                  },
                  "required": [
                    "post"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updatePostRest",
        "summary": "Change a scheduled post",
        "description": "Change a post that is still 'scheduled' (waiting in mixetape): its time, lead, media, caption or metadata (merged; null clears a field). Once it is on the platform, use edit_published_post. Needs the **publish** permission.",
        "tags": [
          "Accounts and posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mediaUrl": {
                    "type": "string"
                  },
                  "caption": {
                    "type": "string"
                  },
                  "scheduledAt": {
                    "type": "string",
                    "description": "ISO 8601 with timezone offset"
                  },
                  "leadMinutes": {
                    "type": "number"
                  },
                  "metadata": {
                    "anyOf": [
                      {
                        "type": "object",
                        "description": "YouTube fields. title is required when creating. Set a field to null to clear it when updating.",
                        "properties": {
                          "title": {
                            "type": "string",
                            "maxLength": 100,
                            "description": "No < or >"
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 5000,
                            "description": "No < or >"
                          },
                          "category": {
                            "type": "string",
                            "description": "Category id, e.g. \"27\" Education, \"22\" People"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "≤ 500 characters in total"
                          },
                          "privacyStatus": {
                            "type": "string",
                            "enum": [
                              "public",
                              "unlisted",
                              "private"
                            ]
                          },
                          "madeForKids": {
                            "type": "boolean"
                          },
                          "notifySubscribers": {
                            "type": "boolean"
                          },
                          "defaultLanguage": {
                            "type": "string",
                            "description": "Language of title/description, e.g. \"en\"; required for localizations"
                          },
                          "localizations": {
                            "type": "object",
                            "description": "Translations keyed by language: { \"id\": { \"title\": \"…\", \"description\": \"…\" } }",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "title"
                              ]
                            }
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Public https JPEG/PNG, ≤ 2 MB, 1280×720; set right after upload"
                          },
                          "playlistIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Playlists (list_collections) the video joins right after upload"
                          },
                          "captions": {
                            "type": "array",
                            "description": "Subtitle files uploaded right after the video (400 quota units each)",
                            "items": {
                              "type": "object",
                              "properties": {
                                "language": {
                                  "type": "string",
                                  "description": "e.g. \"en\""
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Track name; empty is the default track"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "Public https SRT or WebVTT"
                                }
                              },
                              "required": [
                                "language",
                                "url"
                              ]
                            }
                          },
                          "firstComment": {
                            "type": "string",
                            "description": "Posted as the channel's own comment once the video is public — e.g. a link to the full video from a Short"
                          }
                        },
                        "title": "YouTube"
                      },
                      {
                        "type": "object",
                        "description": "Facebook Page fields. format \"video\" (default) posts a Page video; \"reel\" posts a Reel (9:16, 3–90 s). Set a field to null to clear it when updating.",
                        "properties": {
                          "format": {
                            "type": "string",
                            "enum": [
                              "video",
                              "reel"
                            ]
                          },
                          "title": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "Page videos only"
                          },
                          "description": {
                            "type": "string",
                            "description": "The post text (defaults to caption)"
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Public https JPEG/PNG, set right after upload"
                          },
                          "captions": {
                            "type": "array",
                            "description": "Subtitle files (public https .srt) uploaded right after the video",
                            "items": {
                              "type": "object",
                              "properties": {
                                "language": {
                                  "type": "string",
                                  "description": "e.g. \"en\", \"id\" or \"en_US\""
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "language",
                                "url"
                              ]
                            }
                          },
                          "firstComment": {
                            "type": "string",
                            "description": "Posted as the Page's own comment once the post is public"
                          }
                        },
                        "title": "Facebook"
                      },
                      {
                        "type": "object",
                        "description": "Instagram Reel fields (videos post as Reels: 3 s–15 min, ≤ 300 MB, 9:16 recommended). Set a field to null to clear it when updating.",
                        "properties": {
                          "caption": {
                            "type": "string",
                            "description": "≤ 2,200 characters, 30 hashtags, 20 @mentions; defaults to the post caption"
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Public https JPEG cover, set at creation"
                          },
                          "coverFrameMs": {
                            "type": "number",
                            "description": "Or the cover frame, ms from the start"
                          },
                          "shareToFeed": {
                            "type": "boolean",
                            "description": "Also show it in the feed grid (default true)"
                          },
                          "firstComment": {
                            "type": "string",
                            "description": "Posted as the account's own comment once the Reel is public"
                          }
                        },
                        "title": "Instagram"
                      },
                      {
                        "type": "object",
                        "description": "Threads video fields (MP4/MOV, ≤ 5 min, ≤ 1 GB). Set a field to null to clear it when updating.",
                        "properties": {
                          "text": {
                            "type": "string",
                            "maxLength": 500,
                            "description": "Defaults to the post caption"
                          },
                          "firstComment": {
                            "type": "string",
                            "maxLength": 500,
                            "description": "Posted as the profile's own reply once the post is public"
                          }
                        },
                        "title": "Threads"
                      },
                      {
                        "type": "object",
                        "description": "TikTok fields. The video posts at the scheduled time (TikTok cannot hold a post). Until TikTok audits the app, only SELF_ONLY works.",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Caption, ≤ 2,200 characters; defaults to caption"
                          },
                          "privacyLevel": {
                            "type": "string",
                            "enum": [
                              "PUBLIC_TO_EVERYONE",
                              "MUTUAL_FOLLOW_FRIENDS",
                              "FOLLOWER_OF_CREATOR",
                              "SELF_ONLY"
                            ],
                            "description": "Default SELF_ONLY (required until the app is audited)"
                          },
                          "disableComment": {
                            "type": "boolean"
                          },
                          "disableDuet": {
                            "type": "boolean"
                          },
                          "disableStitch": {
                            "type": "boolean"
                          },
                          "coverFrameMs": {
                            "type": "number",
                            "description": "Cover frame, ms from the start"
                          },
                          "isAigc": {
                            "type": "boolean",
                            "description": "Label as AI-generated content"
                          }
                        },
                        "title": "TikTok"
                      },
                      {
                        "type": "object",
                        "description": "Pinterest Pin fields. Video (mp4/mov) or image media. The Pin posts at the scheduled time (Pinterest cannot hold a post).",
                        "properties": {
                          "boardId": {
                            "type": "string",
                            "description": "Board id from list_collections (required)"
                          },
                          "title": {
                            "type": "string",
                            "maxLength": 100
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 800,
                            "description": "Defaults to the post caption"
                          },
                          "link": {
                            "type": "string",
                            "description": "Destination URL when the Pin is clicked"
                          },
                          "altText": {
                            "type": "string",
                            "maxLength": 500
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Video Pins: public https cover image"
                          },
                          "coverFrameSeconds": {
                            "type": "number",
                            "description": "Video Pins: cover frame, seconds (default 1)"
                          }
                        },
                        "title": "Pinterest"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The changed post.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/Post"
                    }
                  },
                  "required": [
                    "post"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "cancelPostRest",
        "summary": "Cancel a scheduled post",
        "description": "Cancels a post that is still waiting in mixetape. Needs the **publish** permission.",
        "tags": [
          "Accounts and posts"
        ],
        "responses": {
          "200": {
            "description": "The cancelled post.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/Post"
                    }
                  },
                  "required": [
                    "post"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "retryPostRest",
        "summary": "Retry a failed post, or set its thumbnail",
        "description": "Without a body, sends a failed post again. With `{ thumbnailUrl }`, sets or replaces the thumbnail of a post already on the platform. Needs the **publish** permission.",
        "tags": [
          "Accounts and posts"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "thumbnailUrl": {
                    "type": "string",
                    "description": "A public image URL or r2:// URL"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The post.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/Post"
                    }
                  },
                  "required": [
                    "post"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/tools": {
      "get": {
        "operationId": "listTools",
        "summary": "List the tools this key may call",
        "description": "The same tools the MCP server offers, filtered by the key's permissions, with their input schemas.",
        "tags": [
          "Accounts and posts"
        ],
        "responses": {
          "200": {
            "description": "The tools.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tools": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "inputSchema": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/tools/list_accounts": {
      "post": {
        "operationId": "list_accounts",
        "summary": "list_accounts",
        "description": "List the connected channels: id, platform, name, handle, status, and the capabilities its platform supports (e.g. comments, analytics). status 'reconnect' means the channel must be connected again (connect_channel, or /channels) — also after mixetape asks for new permissions. Needs the **read** permission. Also available as the MCP tool `list_accounts`.",
        "tags": [
          "read"
        ],
        "x-permission": "read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "description": "What the tool returns"
                    }
                  },
                  "required": [
                    "result"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/tools/list_posts": {
      "post": {
        "operationId": "list_posts",
        "summary": "list_posts",
        "description": "List posts, newest scheduled time first. Statuses: scheduled (waiting in mixetape, editable with update_post), publishing (uploading), uploaded (on the platform, private until its time), published (live; change with edit_published_post), failed, cancelled. Needs the **read** permission. Also available as the MCP tool `list_posts`.",
        "tags": [
          "read"
        ],
        "x-permission": "read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Only these statuses"
                  },
                  "from": {
                    "type": "string",
                    "description": "ISO time; scheduled at or after"
                  },
                  "to": {
                    "type": "string",
                    "description": "ISO time; scheduled at or before"
                  },
                  "limit": {
                    "type": "number",
                    "description": "Default 50, max 500"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "description": "What the tool returns"
                    }
                  },
                  "required": [
                    "result"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/tools/get_post": {
      "post": {
        "operationId": "get_post",
        "summary": "get_post",
        "description": "One post with its status, error, platform link and attempts. Needs the **read** permission. Also available as the MCP tool `get_post`.",
        "tags": [
          "read"
        ],
        "x-permission": "read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "mixetape post id (list_posts)"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "description": "What the tool returns"
                    }
                  },
                  "required": [
                    "result"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/tools/get_post_insights": {
      "post": {
        "operationId": "get_post_insights",
        "summary": "get_post_insights",
        "description": "How a post that is on the platform stands right now: visibility, processing, scheduled publish time, any rejection, plus lifetime views, likes and comments. For watch time and retention use get_post_analytics. Needs the **read** permission. Also available as the MCP tool `get_post_insights`.",
        "tags": [
          "read"
        ],
        "x-permission": "read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "mixetape post id (list_posts)"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "description": "What the tool returns"
                    }
                  },
                  "required": [
                    "result"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/tools/list_collections": {
      "post": {
        "operationId": "list_collections",
        "summary": "list_collections",
        "description": "List the account's collections — playlists on YouTube, boards on Pinterest — with id, title, visibility and item count. Use an id in metadata.playlistIds (YouTube), metadata.boardId (Pinterest) or add_to_collection. Needs the **read** permission. Also available as the MCP tool `list_collections`.",
        "tags": [
          "read"
        ],
        "x-permission": "read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountId": {
                    "type": "string",
                    "description": "mixetape account id (list_accounts)"
                  }
                },
                "required": [
                  "accountId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "description": "What the tool returns"
                    }
                  },
                  "required": [
                    "result"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/tools/list_captions": {
      "post": {
        "operationId": "list_captions",
        "summary": "list_captions",
        "description": "List the caption tracks of a post on the platform (language, name, kind; 'asr' is automatic). Needs the **read** permission. Also available as the MCP tool `list_captions`.",
        "tags": [
          "read"
        ],
        "x-permission": "read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "mixetape post id (list_posts)"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "description": "What the tool returns"
                    }
                  },
                  "required": [
                    "result"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/tools/create_post": {
      "post": {
        "operationId": "create_post",
        "summary": "create_post",
        "description": "Schedule a video on a connected account (see list_accounts for each account's platform). The post waits in mixetape (editable, cancellable) until shortly before scheduledAt. YouTube and Facebook get it leadMinutes early, unpublished, and publish it themselves at scheduledAt; Instagram and Threads get it prepared leadMinutes early and mixetape publishes it at scheduledAt; TikTok and Pinterest cannot hold a post, so mixetape posts it at scheduledAt. Each platform takes its own metadata (Facebook format reel for a Reel, Pinterest boardId is required, TikTok privacyLevel). Thumbnail, playlists and captions are applied right after upload where the platform supports them; firstComment is posted once it is public. mediaUrl: a public https URL, or an r2:// URL from mixetape storage (create_upload / import_file). Needs the **publish** permission. Also available as the MCP tool `create_post`.",
        "tags": [
          "publish"
        ],
        "x-permission": "publish",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountId": {
                    "type": "string",
                    "description": "mixetape account id (list_accounts)"
                  },
                  "mediaUrl": {
                    "type": "string"
                  },
                  "caption": {
                    "type": "string"
                  },
                  "scheduledAt": {
                    "type": "string",
                    "description": "ISO 8601 with timezone offset — when it goes live. Omit to post now (live after leadMinutes)."
                  },
                  "leadMinutes": {
                    "type": "number",
                    "description": "Minutes before go-live that mixetape uploads or prepares it, so the platform finishes processing first (defaults: YouTube and Facebook 30, Instagram 15, Threads 10; TikTok and Pinterest always 0). 0 uploads at go-live time. Facebook needs 0 or at least 15."
                  },
                  "metadata": {
                    "anyOf": [
                      {
                        "type": "object",
                        "description": "YouTube fields. title is required when creating. Set a field to null to clear it when updating.",
                        "properties": {
                          "title": {
                            "type": "string",
                            "maxLength": 100,
                            "description": "No < or >"
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 5000,
                            "description": "No < or >"
                          },
                          "category": {
                            "type": "string",
                            "description": "Category id, e.g. \"27\" Education, \"22\" People"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "≤ 500 characters in total"
                          },
                          "privacyStatus": {
                            "type": "string",
                            "enum": [
                              "public",
                              "unlisted",
                              "private"
                            ]
                          },
                          "madeForKids": {
                            "type": "boolean"
                          },
                          "notifySubscribers": {
                            "type": "boolean"
                          },
                          "defaultLanguage": {
                            "type": "string",
                            "description": "Language of title/description, e.g. \"en\"; required for localizations"
                          },
                          "localizations": {
                            "type": "object",
                            "description": "Translations keyed by language: { \"id\": { \"title\": \"…\", \"description\": \"…\" } }",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "title"
                              ]
                            }
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Public https JPEG/PNG, ≤ 2 MB, 1280×720; set right after upload"
                          },
                          "playlistIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Playlists (list_collections) the video joins right after upload"
                          },
                          "captions": {
                            "type": "array",
                            "description": "Subtitle files uploaded right after the video (400 quota units each)",
                            "items": {
                              "type": "object",
                              "properties": {
                                "language": {
                                  "type": "string",
                                  "description": "e.g. \"en\""
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Track name; empty is the default track"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "Public https SRT or WebVTT"
                                }
                              },
                              "required": [
                                "language",
                                "url"
                              ]
                            }
                          },
                          "firstComment": {
                            "type": "string",
                            "description": "Posted as the channel's own comment once the video is public — e.g. a link to the full video from a Short"
                          }
                        },
                        "title": "YouTube"
                      },
                      {
                        "type": "object",
                        "description": "Facebook Page fields. format \"video\" (default) posts a Page video; \"reel\" posts a Reel (9:16, 3–90 s). Set a field to null to clear it when updating.",
                        "properties": {
                          "format": {
                            "type": "string",
                            "enum": [
                              "video",
                              "reel"
                            ]
                          },
                          "title": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "Page videos only"
                          },
                          "description": {
                            "type": "string",
                            "description": "The post text (defaults to caption)"
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Public https JPEG/PNG, set right after upload"
                          },
                          "captions": {
                            "type": "array",
                            "description": "Subtitle files (public https .srt) uploaded right after the video",
                            "items": {
                              "type": "object",
                              "properties": {
                                "language": {
                                  "type": "string",
                                  "description": "e.g. \"en\", \"id\" or \"en_US\""
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "language",
                                "url"
                              ]
                            }
                          },
                          "firstComment": {
                            "type": "string",
                            "description": "Posted as the Page's own comment once the post is public"
                          }
                        },
                        "title": "Facebook"
                      },
                      {
                        "type": "object",
                        "description": "Instagram Reel fields (videos post as Reels: 3 s–15 min, ≤ 300 MB, 9:16 recommended). Set a field to null to clear it when updating.",
                        "properties": {
                          "caption": {
                            "type": "string",
                            "description": "≤ 2,200 characters, 30 hashtags, 20 @mentions; defaults to the post caption"
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Public https JPEG cover, set at creation"
                          },
                          "coverFrameMs": {
                            "type": "number",
                            "description": "Or the cover frame, ms from the start"
                          },
                          "shareToFeed": {
                            "type": "boolean",
                            "description": "Also show it in the feed grid (default true)"
                          },
                          "firstComment": {
                            "type": "string",
                            "description": "Posted as the account's own comment once the Reel is public"
                          }
                        },
                        "title": "Instagram"
                      },
                      {
                        "type": "object",
                        "description": "Threads video fields (MP4/MOV, ≤ 5 min, ≤ 1 GB). Set a field to null to clear it when updating.",
                        "properties": {
                          "text": {
                            "type": "string",
                            "maxLength": 500,
                            "description": "Defaults to the post caption"
                          },
                          "firstComment": {
                            "type": "string",
                            "maxLength": 500,
                            "description": "Posted as the profile's own reply once the post is public"
                          }
                        },
                        "title": "Threads"
                      },
                      {
                        "type": "object",
                        "description": "TikTok fields. The video posts at the scheduled time (TikTok cannot hold a post). Until TikTok audits the app, only SELF_ONLY works.",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Caption, ≤ 2,200 characters; defaults to caption"
                          },
                          "privacyLevel": {
                            "type": "string",
                            "enum": [
                              "PUBLIC_TO_EVERYONE",
                              "MUTUAL_FOLLOW_FRIENDS",
                              "FOLLOWER_OF_CREATOR",
                              "SELF_ONLY"
                            ],
                            "description": "Default SELF_ONLY (required until the app is audited)"
                          },
                          "disableComment": {
                            "type": "boolean"
                          },
                          "disableDuet": {
                            "type": "boolean"
                          },
                          "disableStitch": {
                            "type": "boolean"
                          },
                          "coverFrameMs": {
                            "type": "number",
                            "description": "Cover frame, ms from the start"
                          },
                          "isAigc": {
                            "type": "boolean",
                            "description": "Label as AI-generated content"
                          }
                        },
                        "title": "TikTok"
                      },
                      {
                        "type": "object",
                        "description": "Pinterest Pin fields. Video (mp4/mov) or image media. The Pin posts at the scheduled time (Pinterest cannot hold a post).",
                        "properties": {
                          "boardId": {
                            "type": "string",
                            "description": "Board id from list_collections (required)"
                          },
                          "title": {
                            "type": "string",
                            "maxLength": 100
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 800,
                            "description": "Defaults to the post caption"
                          },
                          "link": {
                            "type": "string",
                            "description": "Destination URL when the Pin is clicked"
                          },
                          "altText": {
                            "type": "string",
                            "maxLength": 500
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Video Pins: public https cover image"
                          },
                          "coverFrameSeconds": {
                            "type": "number",
                            "description": "Video Pins: cover frame, seconds (default 1)"
                          }
                        },
                        "title": "Pinterest"
                      }
                    ]
                  }
                },
                "required": [
                  "accountId",
                  "mediaUrl"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "description": "What the tool returns"
                    }
                  },
                  "required": [
                    "result"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/tools/update_post": {
      "post": {
        "operationId": "update_post",
        "summary": "update_post",
        "description": "Change a post that is still 'scheduled' (waiting in mixetape): its time, lead, media, caption or metadata (merged; null clears a field). Once it is on the platform, use edit_published_post. Needs the **publish** permission. Also available as the MCP tool `update_post`.",
        "tags": [
          "publish"
        ],
        "x-permission": "publish",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "mixetape post id (list_posts)"
                  },
                  "mediaUrl": {
                    "type": "string"
                  },
                  "caption": {
                    "type": "string"
                  },
                  "scheduledAt": {
                    "type": "string",
                    "description": "ISO 8601 with timezone offset"
                  },
                  "leadMinutes": {
                    "type": "number"
                  },
                  "metadata": {
                    "anyOf": [
                      {
                        "type": "object",
                        "description": "YouTube fields. title is required when creating. Set a field to null to clear it when updating.",
                        "properties": {
                          "title": {
                            "type": "string",
                            "maxLength": 100,
                            "description": "No < or >"
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 5000,
                            "description": "No < or >"
                          },
                          "category": {
                            "type": "string",
                            "description": "Category id, e.g. \"27\" Education, \"22\" People"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "≤ 500 characters in total"
                          },
                          "privacyStatus": {
                            "type": "string",
                            "enum": [
                              "public",
                              "unlisted",
                              "private"
                            ]
                          },
                          "madeForKids": {
                            "type": "boolean"
                          },
                          "notifySubscribers": {
                            "type": "boolean"
                          },
                          "defaultLanguage": {
                            "type": "string",
                            "description": "Language of title/description, e.g. \"en\"; required for localizations"
                          },
                          "localizations": {
                            "type": "object",
                            "description": "Translations keyed by language: { \"id\": { \"title\": \"…\", \"description\": \"…\" } }",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "title"
                              ]
                            }
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Public https JPEG/PNG, ≤ 2 MB, 1280×720; set right after upload"
                          },
                          "playlistIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Playlists (list_collections) the video joins right after upload"
                          },
                          "captions": {
                            "type": "array",
                            "description": "Subtitle files uploaded right after the video (400 quota units each)",
                            "items": {
                              "type": "object",
                              "properties": {
                                "language": {
                                  "type": "string",
                                  "description": "e.g. \"en\""
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Track name; empty is the default track"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "Public https SRT or WebVTT"
                                }
                              },
                              "required": [
                                "language",
                                "url"
                              ]
                            }
                          },
                          "firstComment": {
                            "type": "string",
                            "description": "Posted as the channel's own comment once the video is public — e.g. a link to the full video from a Short"
                          }
                        },
                        "title": "YouTube"
                      },
                      {
                        "type": "object",
                        "description": "Facebook Page fields. format \"video\" (default) posts a Page video; \"reel\" posts a Reel (9:16, 3–90 s). Set a field to null to clear it when updating.",
                        "properties": {
                          "format": {
                            "type": "string",
                            "enum": [
                              "video",
                              "reel"
                            ]
                          },
                          "title": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "Page videos only"
                          },
                          "description": {
                            "type": "string",
                            "description": "The post text (defaults to caption)"
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Public https JPEG/PNG, set right after upload"
                          },
                          "captions": {
                            "type": "array",
                            "description": "Subtitle files (public https .srt) uploaded right after the video",
                            "items": {
                              "type": "object",
                              "properties": {
                                "language": {
                                  "type": "string",
                                  "description": "e.g. \"en\", \"id\" or \"en_US\""
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "language",
                                "url"
                              ]
                            }
                          },
                          "firstComment": {
                            "type": "string",
                            "description": "Posted as the Page's own comment once the post is public"
                          }
                        },
                        "title": "Facebook"
                      },
                      {
                        "type": "object",
                        "description": "Instagram Reel fields (videos post as Reels: 3 s–15 min, ≤ 300 MB, 9:16 recommended). Set a field to null to clear it when updating.",
                        "properties": {
                          "caption": {
                            "type": "string",
                            "description": "≤ 2,200 characters, 30 hashtags, 20 @mentions; defaults to the post caption"
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Public https JPEG cover, set at creation"
                          },
                          "coverFrameMs": {
                            "type": "number",
                            "description": "Or the cover frame, ms from the start"
                          },
                          "shareToFeed": {
                            "type": "boolean",
                            "description": "Also show it in the feed grid (default true)"
                          },
                          "firstComment": {
                            "type": "string",
                            "description": "Posted as the account's own comment once the Reel is public"
                          }
                        },
                        "title": "Instagram"
                      },
                      {
                        "type": "object",
                        "description": "Threads video fields (MP4/MOV, ≤ 5 min, ≤ 1 GB). Set a field to null to clear it when updating.",
                        "properties": {
                          "text": {
                            "type": "string",
                            "maxLength": 500,
                            "description": "Defaults to the post caption"
                          },
                          "firstComment": {
                            "type": "string",
                            "maxLength": 500,
                            "description": "Posted as the profile's own reply once the post is public"
                          }
                        },
                        "title": "Threads"
                      },
                      {
                        "type": "object",
                        "description": "TikTok fields. The video posts at the scheduled time (TikTok cannot hold a post). Until TikTok audits the app, only SELF_ONLY works.",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Caption, ≤ 2,200 characters; defaults to caption"
                          },
                          "privacyLevel": {
                            "type": "string",
                            "enum": [
                              "PUBLIC_TO_EVERYONE",
                              "MUTUAL_FOLLOW_FRIENDS",
                              "FOLLOWER_OF_CREATOR",
                              "SELF_ONLY"
                            ],
                            "description": "Default SELF_ONLY (required until the app is audited)"
                          },
                          "disableComment": {
                            "type": "boolean"
                          },
                          "disableDuet": {
                            "type": "boolean"
                          },
                          "disableStitch": {
                            "type": "boolean"
                          },
                          "coverFrameMs": {
                            "type": "number",
                            "description": "Cover frame, ms from the start"
                          },
                          "isAigc": {
                            "type": "boolean",
                            "description": "Label as AI-generated content"
                          }
                        },
                        "title": "TikTok"
                      },
                      {
                        "type": "object",
                        "description": "Pinterest Pin fields. Video (mp4/mov) or image media. The Pin posts at the scheduled time (Pinterest cannot hold a post).",
                        "properties": {
                          "boardId": {
                            "type": "string",
                            "description": "Board id from list_collections (required)"
                          },
                          "title": {
                            "type": "string",
                            "maxLength": 100
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 800,
                            "description": "Defaults to the post caption"
                          },
                          "link": {
                            "type": "string",
                            "description": "Destination URL when the Pin is clicked"
                          },
                          "altText": {
                            "type": "string",
                            "maxLength": 500
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Video Pins: public https cover image"
                          },
                          "coverFrameSeconds": {
                            "type": "number",
                            "description": "Video Pins: cover frame, seconds (default 1)"
                          }
                        },
                        "title": "Pinterest"
                      }
                    ]
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "description": "What the tool returns"
                    }
                  },
                  "required": [
                    "result"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/tools/cancel_post": {
      "post": {
        "operationId": "cancel_post",
        "summary": "cancel_post",
        "description": "Cancel a post that is still 'scheduled'. Needs the **publish** permission. Also available as the MCP tool `cancel_post`.",
        "tags": [
          "publish"
        ],
        "x-permission": "publish",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "mixetape post id (list_posts)"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "description": "What the tool returns"
                    }
                  },
                  "required": [
                    "result"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/tools/retry_post": {
      "post": {
        "operationId": "retry_post",
        "summary": "retry_post",
        "description": "Send a 'failed' post again — now, or at its original time if that is still ahead. Needs the **publish** permission. Also available as the MCP tool `retry_post`.",
        "tags": [
          "publish"
        ],
        "x-permission": "publish",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "mixetape post id (list_posts)"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "description": "What the tool returns"
                    }
                  },
                  "required": [
                    "result"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/tools/set_thumbnail": {
      "post": {
        "operationId": "set_thumbnail",
        "summary": "set_thumbnail",
        "description": "Set or replace the custom thumbnail of a post already on the platform. imageUrl: public https JPEG/PNG (YouTube: ≤ 2 MB, 1280×720, verified channel). For a post still 'scheduled', use update_post with metadata.thumbnailUrl. Needs the **publish** permission. Also available as the MCP tool `set_thumbnail`.",
        "tags": [
          "publish"
        ],
        "x-permission": "publish",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "mixetape post id (list_posts)"
                  },
                  "imageUrl": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "imageUrl"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "description": "What the tool returns"
                    }
                  },
                  "required": [
                    "result"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/tools/edit_published_post": {
      "post": {
        "operationId": "edit_published_post",
        "summary": "edit_published_post",
        "description": "Change the details of a post that is already on the platform (uploaded or published). YouTube: title, description, tags, category, privacy, made-for-kids, language and localizations (50 quota units). Facebook: title and description. Only the given fields change; null clears one. Needs the **manage** permission. Also available as the MCP tool `edit_published_post`.",
        "tags": [
          "manage"
        ],
        "x-permission": "manage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "mixetape post id (list_posts)"
                  },
                  "metadata": {
                    "anyOf": [
                      {
                        "type": "object",
                        "description": "YouTube fields. title is required when creating. Set a field to null to clear it when updating.",
                        "properties": {
                          "title": {
                            "type": "string",
                            "maxLength": 100,
                            "description": "No < or >"
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 5000,
                            "description": "No < or >"
                          },
                          "category": {
                            "type": "string",
                            "description": "Category id, e.g. \"27\" Education, \"22\" People"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "≤ 500 characters in total"
                          },
                          "privacyStatus": {
                            "type": "string",
                            "enum": [
                              "public",
                              "unlisted",
                              "private"
                            ]
                          },
                          "madeForKids": {
                            "type": "boolean"
                          },
                          "defaultLanguage": {
                            "type": "string",
                            "description": "Language of title/description, e.g. \"en\"; required for localizations"
                          },
                          "localizations": {
                            "type": "object",
                            "description": "Translations keyed by language: { \"id\": { \"title\": \"…\", \"description\": \"…\" } }",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "title"
                              ]
                            }
                          }
                        },
                        "title": "YouTube"
                      },
                      {
                        "type": "object",
                        "description": "Facebook Page fields. format \"video\" (default) posts a Page video; \"reel\" posts a Reel (9:16, 3–90 s). Set a field to null to clear it when updating.",
                        "properties": {
                          "title": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "Page videos only"
                          },
                          "description": {
                            "type": "string",
                            "description": "The post text (defaults to caption)"
                          }
                        },
                        "title": "Facebook"
                      },
                      {
                        "type": "object",
                        "description": "Instagram Reel fields (videos post as Reels: 3 s–15 min, ≤ 300 MB, 9:16 recommended). Set a field to null to clear it when updating.",
                        "properties": {
                          "caption": {
                            "type": "string",
                            "description": "≤ 2,200 characters, 30 hashtags, 20 @mentions; defaults to the post caption"
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Public https JPEG cover, set at creation"
                          },
                          "coverFrameMs": {
                            "type": "number",
                            "description": "Or the cover frame, ms from the start"
                          },
                          "shareToFeed": {
                            "type": "boolean",
                            "description": "Also show it in the feed grid (default true)"
                          },
                          "firstComment": {
                            "type": "string",
                            "description": "Posted as the account's own comment once the Reel is public"
                          }
                        },
                        "title": "Instagram"
                      },
                      {
                        "type": "object",
                        "description": "Threads video fields (MP4/MOV, ≤ 5 min, ≤ 1 GB). Set a field to null to clear it when updating.",
                        "properties": {
                          "text": {
                            "type": "string",
                            "maxLength": 500,
                            "description": "Defaults to the post caption"
                          },
                          "firstComment": {
                            "type": "string",
                            "maxLength": 500,
                            "description": "Posted as the profile's own reply once the post is public"
                          }
                        },
                        "title": "Threads"
                      },
                      {
                        "type": "object",
                        "description": "TikTok fields. The video posts at the scheduled time (TikTok cannot hold a post). Until TikTok audits the app, only SELF_ONLY works.",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Caption, ≤ 2,200 characters; defaults to caption"
                          },
                          "privacyLevel": {
                            "type": "string",
                            "enum": [
                              "PUBLIC_TO_EVERYONE",
[...]
